.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

.feedback-form > label {
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  font: inherit;
  padding: 8px;
}

.feedback-form textarea {
  resize: none;
}

.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
}
